body{
    background-color: #1A0B2E;
}
/* nav hover */
.menuiteam:hover{
    font-size: 18px;
    font-weight: bold;
    transition: 20ms;
}

header main{
    padding: 30px 0;
}
.container{
    width: 80%;
    margin: auto;
}
.p-head{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
/* about section */
.about{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 80px 0;
}
.about p,.gridsection div p{
    opacity: .6;
}

.paragraph{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.paragraph p{
    line-height: 30px;
}
.about .icon-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .about .icon-section .card{
    width: 240px;
    height: 94px;
} */
.about .icon-section .card h2{
    font-size: 48px;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
}

/* why choose section */
.choose{
    padding: 110px  10%;
    background: rgba(35, 14, 61, 1);
}
.gridsection{
    margin-top: 40px;
    display: grid;
    grid-template-areas:
    "quality mobile mobile"
    "quality global global"
    "interviews interviews resources";
    gap: 30px;
}
.gridsection div{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.gridsection div h2,.info h2{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}
.card1{
    grid-area: quality;
}
.card2{
    grid-area: mobile;
}
.card3{
    grid-area: global;
}
.card4{
    grid-area: interviews;
}
.card5{
    grid-area: resources;
}
/* featured section */
.featured{
    padding-top:110px ;
    width: 95%;
}
.video-cards{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.video-cards .card{
    margin: 30px 0;
    width: 350px;
    height: 470px;
    background: rgba(37, 13, 68, 1);
    border-radius: 24px;
    position: relative;
}
.card iframe{
    border-radius: 24px 24px 0 0;
}
.card .info{
    padding: 24px;
    
}
.card .info p{
    opacity: .6;
}
.info span{
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 10px;
}
/* host section  */
.host{
    margin: 70px auto;
}
.host-box{
    margin: 40px 0;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.host-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.host-info h2{
    font-size: 32px;
    font-weight: 700;
}
.host-info p{
    opacity: .6;
}
.host-info .icons{
    display: flex;
    gap: 20px;
}
.host-info .icons a{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-image: url("../assets/footer-bg.png");
    background: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%;
    height: 412px; */

}
@media  screen and (max-width:640px) {
    .p-head{
        font-size: 32px;
    }
    /* about section responsive */
    .container{
        width: 90%;
    }
    .about{
        padding: 40px 0;
        gap: 80px;
    }
    .paragraph{
        gap: 30px;
    }
    .paragraph p{
    line-height: 20px;
    }
    .about .icon-section{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .about .icon-section .card h2{
        font-size: 32px;
    }
    /* why choose section */
    .choose{
        padding: 40px 20px;
    }
    .gridsection{
        grid-template-areas:
        "quality" 
        "mobile"
        "global"
        "interviews"
        "resources";
    }
    /* .featured section */
    .featured{
        padding: 40px 20px;
    }
    /* host section  */
    .host-box{
        flex-direction: column;
    }
    .host-info{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .host-info h2{
        font-size: 24px;
    }
    .host{
        margin: 40px auto;
    }
}