/* nav hover */
.menuiteam:hover{
    font-size: 18px;
    font-weight: bold;
    transition: 20ms;
}
header main{
    padding: 30px 0;
}
.container{
    width: 80%;
    margin: auto;
}
.p-head{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
/* about section */
.about{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 80px 0;
}
.about p,.gridsection div p{
    opacity: .6;
}

.paragraph{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.paragraph p{
    line-height: 30px;
}
.about .icon-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .about .icon-section .card{
    width: 240px;
    height: 94px;
} */
.about .icon-section .card h2{
    font-size: 48px;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
}

/* why choose section */
.choose{
    padding: 110px  10%;
    background: rgba(35, 14, 61, 1);
}
.gridsection{
    margin-top: 40px;
    display: grid;
    grid-template-areas:
    "quality mobile mobile"
    "quality global global"
    "interviews interviews resources";
    gap: 30px;
}
.gridsection div{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.gridsection div h2{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}
.card1{
    grid-area: quality;
}
.card2{
    grid-area: mobile;
}
.card3{
    grid-area: global;
}
.card4{
    grid-area: interviews;
}
.card5{
    grid-area: resources;
}

@media  screen and (max-width:640px) {
    .p-head{
        font-size: 32px;
    }
    /* about section responsive */
    .container{
        width: 90%;
    }
    .about{
        padding: 40px 0;
        gap: 80px;
    }
    .paragraph{
        gap: 30px;
    }
    .paragraph p{
    line-height: 20px;
    }
    .about .icon-section{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .about .icon-section .card h2{
        font-size: 32px;
    }
    /* why choose section */
    .choose{
        padding: 40px 20px;
    }
    .gridsection{
        grid-template-areas:
        "quality" 
        "mobile"
        "global"
        "interviews"
        "resources";
    }
}